.arshakir__accordion__faqs {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 25px;

  .arshakir__accordion__question-faq {
    margin: 10px;
    padding: 1px;

    .arshakir__accordion-question {
      position: relative;
      font-family: var(--font-family);
      font-weight: 700;
      font-size: 17px;
      line-height: 20px;
      color: #1b1c31;
      padding-right: 80px;

      


      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0px;
        transform: translateY(-50%);
        width: 30px;
        height: 30px;

        background-image: url("../../assets/plus.svg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        transition: all 0.4s ease;
      }
    }

    .arshakir__accordion-answer {
      opacity: 0;
      max-height: 0;
      overflow-y: hidden;
      transition: all 0.4s ease;
    }
  }
}
