.arshakir__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;

  @media screen and (max-width: 1147px) {
    margin: 0;
  }

  @media screen and (max-width: 768px) {
    padding: 2rem 4rem;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  @media screen and (max-width: 550px) {
    padding: 2rem;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.arshakir__navbar-links {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .arshakir__navbar-links_logo {
    margin-right: 0;

    img {
      width: 94px;
      height: 20px;
    }
  }
}

.arshakir__navbar-links_container {
  display: flex;
  flex-direction: row;
  margin-left: 12rem;
  text-align: center;

  @media screen and (max-width: 1349px) {
    margin-left: -20px;
  }

  p {
    margin-left: 2rem;

    a {
      color: var(--color-text);
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      text-transform: capitalize;
      margin: 0rem 1rem;
      cursor: pointer;
      text-decoration: none;
      margin-left: 13px;

      @media screen and (min-width: 1350px) {
        margin-left: -20px;
      }

      @media screen and (max-width: 1147px) {
        font-size: 15px;
        line-height: 20px;
        font-weight: 700;
      }
    }
  }

  @media screen and (max-width: 1050px) {
    display: none;
  }
}

.arshakir__navbar-sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  p {
    color: var(--color-text);
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0rem 5rem;
    cursor: pointer;
    text-decoration: none;

    @media screen and (min-width: 1350px) {
      margin: 0rem 1rem;
    }

    @media screen and (max-width: 1147px) {
      font-size: 15px;
      line-height: 20px;
      font-weight: 700;
    }
  }

  button {
    padding: 1rem 2rem;
    border-radius: 5px;
    background: var(--color-button);
    color: #fff;
    font-family: var(--font-family);
    font-weight: 600;
    left: 1153px;
    top: 55px;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    border: none;
    outline: none;
    cursor: pointer;

    @media screen and (max-width: 1147px) {
      font-size: 15px;
      line-height: 20px;
      font-weight: 700;
    }
  }

  @media screen and (max-width: 550px) {
    display: none;
  }
}

.arshakir__navbar-menu {
  margin-left: 1rem;
  display: none;
  position: relative;

  svg {
    cursor: pointer;
  }

  .arshakir__navbar-menu_container p > a {
    color: var(--color-text);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0rem 1rem;
    cursor: pointer;
    text-decoration: none;

    @media screen and (max-width: 1050px) {
      color: #fff;
    }
  }

  @media screen and (max-width: 1050px) {
    display: flex;
    background-color: #fff;
  }
}

.arshakir__navbar-menu_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  text-align: end;
  background: var(--color-footer);
  padding: 2rem;
  position: absolute;
  top: 40px;
  right: 0;
  margin-top: 1rem;
  min-width: 210px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

  p {
    margin: 1rem 0rem;
  }

  p > a {
    color: var(--color-text);
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0rem 1rem;
    cursor: pointer;
    text-decoration: none;
  }

  button {
    padding: 1rem 1rem;
    border-radius: 5px;
    background: var(--color-button);
    color: #fff;
    font-family: var(--font-family);
    font-weight: 600;
    left: 1153px;
    top: 55px;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    border: none;
    outline: none;
    cursor: pointer;
  }

  @media screen and (max-width: 550px) {
    top: 20px;
  }
}

.arshakir__navbar-menu_container-links-sign {
  display: none;
  @media screen and (max-width: 550px) {
    display: block;

    p {
      color: #fff;
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      text-transform: capitalize;
      margin: 1rem 1rem;
      cursor: pointer;
    }
  }
}

.arshakir__navbar-menu_container-links {
  @media screen and (max-width: 550px) {
    text-align: left;
  }
}
