.arshakir__footer-copy {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-top: 1.5rem !important;
  border-top: 1px solid #404444;
  background: var(--color-footer);

  p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #fff;
  }

  .arshakir__footer-copyright2 {
    display: flex;
    flex-direction: row;
    margin-top: 1.5rem;
  }
}
