.arshakir__footer-copy {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 1.5rem 4rem 1.5rem 4rem !important;
  border-top: 1px solid #404444;
  background: var(--color-footer);

  @media screen and (max-width: 900px) {
    flex-direction: column;
  }

  p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #fff;

    @media screen and (max-width: 650px) {
      font-size: 13px;
      line-height: 20px;
    }
  }
}
