.arshakir__header {
  display: flex;
  flex-direction: row;
  padding-top: 0 !important;
  margin-top: 0 !important;

  @media screen and (max-width: 1050px) {
    flex-direction: column;
    margin-top: 15px !important;
  }
}

.arshakir__header-content {
  flex: 0.7;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 66px;
    line-height: 75px;
    letter-spacing: -0.04em;

    @media screen and (max-width: 650px) {
      font-size: 48px;
      line-height: 60px;
    }

    @media screen and (max-width: 490px) {
      font-size: 36px;
      line-height: 48px;
    }
  }

  p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    color: var(--color-text);
    margin-top: 1.5rem;

    @media screen and (max-width: 650px) {
      font-size: 16px;
      line-height: 24px;
    }

    @media screen and (max-width: 490px) {
      font-size: 14px;
      line-height: 24px;
    }
  }

  .arshakir__header-content__input {
    width: 100%;
    margin: 2rem 0 1rem;
    display: flex;
    flex-direction: row;

    button {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 5rem;
      flex: 0.5;
      width: 100%;
      min-height: 55px;
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      text-align: center;
      background: var(--color-button);
      border: 2px solid var(--color-button);
      padding: 0.8rem 1.5rem;
      color: #fff;
      cursor: pointer;
      outline: none;
      border-radius: 5px;

      img {
        width: 17px;
        height: 13px;
      }

      @media screen and (max-width: 650px) {
        font-size: 16px;
        line-height: 24px;
        flex: 0.6;
      }

      @media screen and (max-width: 490px) {
        font-size: 12px;
        line-height: 16px;
        flex: 0.6;
      }
    }
  }

  @media screen and (max-width: 1050px) {
    margin: 0 0 3rem;
  }
}

.arshakir__header-content__people {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 2rem;

  img {
    width: 181.79px;
    height: 38px;
    margin-bottom: 1rem;
  }

  p {
    flex: 0.4;
    margin: 0;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
    color: var(--color-text);
    justify-content: flex-start;
    align-items: flex-start;

    @media screen and (max-width: 650px) {
      margin: 0;
    }
  }

  @media screen and (max-width: 650px) {
    flex-direction: column;
  }
}

.arshakir__header-image {
  flex: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arshakir__header-image img {
  width: 100%;
  height: 100%;
}

