@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --font-family: "Manrope", sans-serif;

  --heading-text: #000;
  --sub-heading: #3734a9;
  --gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);

  --color-bg: #fff;
  --color-footer: #1b1c31;
  --color-blog: #042c54;
  --color-text: #000;
  --color-subtext: #fff;
  --color-testimony: #797979;
  --box-shadow: #ededed;
  --color-button: #4f46ba;
}
